/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
    font-size: 11px;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 180px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 0px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 180px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

/*--- Added By ALi Rizvi on 03.08.2016 Start ---*/

.admin-logo {width: 150px;max-width: 100%;margin-left: 35px;}

#wrapper {
    background-color: #428bca;
}

.sidebar {
    background-color: #428bca;
}

.nav li a { color:#fff;}

.sidebar ul li a.active {
    color: #6e0e10;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #000080;
    color:#fff;
}

.navbar-default {
    background-color: #004C96;
}

.navbar-top-links .dropdown-menu li a {
    color: #6e0e10;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    color: #004C96;
}

.sidebar ul li {
    border-bottom: 1px solid rgba(231, 231, 231, 0.35);
}

.panel-default>.panel-heading {
    color: #f5f5f5;
    background-color: #b52b27;
    border-color: #6e0e10;
}

.panel-default {
    border-color: #6e0e10 !important;
}

.btn-default {
    color: #000;
    background-color: #27ae60;
    border-color: rgba(204, 204, 204, 0);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #428bca;
    border-color: #e47d30;
}

.pagination>li>a, .pagination>li>span {
    color: #e47d30;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #e47d30;
}

body {
    background-color: #004C96;
}

.dropdown.correct-line { width: auto; max-width: 100%; margin-top: 2px;}
.correct-line select, p { float: left; position: relative;margin-top: 25px;}
.correct-line p { color: #fff;padding: 0px 20px;}
.dropdown-toggle.user { float: left; position: relative;}
#page-wrapper { min-height: 900px ;}
.sidebar { margin-top: 72px;}

.sidebar {border-top: 1px solid #fff;}
.navbar-brand {height: auto;}

.navbar-top-links li a {padding: 23px;min-height: auto;}

input[type="button"]{
    background-color: #27AE60;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: #000;
}

input[type="submit"]{
    background-color: #27AE60;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: #000;
}


.page-header.other-left { float: left;}

.btn.btn-default.move-up { position: absolute;top: 0px;margin-top: -6px;right: 15px;}

.btn-default:hover {
    color: #000;
    background-color: #27AE60;
    
}
.error_msg{
    overflow: hidden;
    margin-bottom: 20px;
}
.error_msg p { line-height: normal;padding: 0px;margin: 10px 0px;color: rgb(255, 0, 0);clear: both;}

.page-header { font-size: 24px;}

.form-control { color: #000;}

/*--- Added By ALi Rizvi on 03.08.2016 End ---*/

/*--- Added By ALi Rizvi on 05.08.2016 Start ---*/

.correct-height select, .correct-height input[type="text"] { position: relative;border-radius: 3px;margin-bottom: 20px;}

.correct-height .ui-datepicker-trigger {position: absolute;z-index: 1;top: 30px;right: 8px;cursor: pointer;}
.ui-datepicker .ui-datepicker-title select { color: #000;}

.other-date .ui-datepicker-trigger {position: absolute;z-index: 1;margin-top: -24px;right: 20px;cursor: pointer;}

/*--- Added By ALi Rizvi on 05.08.2016 End ---*/

/*-- Added By Ali Rizvi on 08.08.2016 start --*/

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body { width:100%; height:100%; position:relative;}
.login-panel.panel-default { border:none;}

.background-img { background:url(../images/background-city.jpg)  no-repeat 0 100%; background-size:cover; width:100%; height:100%; background-color: rgba(204, 204, 204, 0) !important;}
.logo { width:100%; position:relative; text-align:center; margin: 30px 0px;}
.logo img { width:579px; position:relative; max-width:95%;}

.bg-white { width: 100%;position: relative;box-sizing: border-box;padding: 7px;background-color: #fff;border-radius: 5px;}
.remove-pad { padding:0px; margin: 0px;border-bottom: 1px solid #ccc;}
.remove-pad .fname, .remove-pad .pwd, .remove-pad .email { padding:0px;font-size:16px; font-family: 'robotoregular'; color:#9b9b9b; margin: 15px 0px;padding-left: 50px;border: none;box-shadow: none;border-radius: 0px;}
.remove-pad .fname { background:url(../images/name-icon.png); background-repeat:no-repeat; background-size: 20px; background-position: 15px center;}
.remove-pad .pwd { background-image:url(../images/pwd-icon.png); background-repeat:no-repeat; background-size: 20px; background-position: 15px center;}
.remove-pad .email { background-image:url(../images/email-icon.png); background-repeat:no-repeat; background-size: auto; background-position: 15px center;}

.btn-block { margin-top: 15px;}

.org-btn { padding: 10px;font-size: 30px;background-color: #f9671e;border-radius: 3px !important;box-shadow: none;text-shadow: none;color: #fff;font-family: 'robotoregular';text-transform: uppercase;border:none;}
.org-btn:hover, .org-btn:focus, .org-btn:visited, .org-btn:active { background-color:#27AE60 !important; color:#fff;}
.btn-off { background-color: rgba(204, 204, 204, 0);margin: 20px 0px;color: #fff;font-size: 18px; padding:0px;}
.btn.focus, .btn:focus, .btn:hover { color:#fff !important;}

/*-- Added By Ali Rizvi on 08.08.2016 end --*/

/*-- Responsive by Ali Rizvi on 09.08.2016 Start --*/

@media (min-width:1200px) and (max-width: 1920px)
{
    .btn.btn-default.move-up {margin-top: 30px;}
}

/*-- Responsive by Ali Rizvi on 09.08.2016 end --*/

/*-- change 5 10.08.2016 --*/

.width-3 { width:18%; position: relative; float: left; box-sizing: border-box;padding: 0px 2px; margin-right: 8px;}
.width-4 { width:100%; height: 55px; position: relative; float: left; box-sizing: border-box;padding: 0px 2px; margin-right: 8px;}
.width-45 { width: 45px; height: 45px;}

/*-- change 5 10.08.2016 start --*/

.last-btn { top: 20px;}
.correct-line select { padding: 8px 0px;border-radius: 5px;margin-top: 18px;background-color: #fff;}

@media (min-width:280px) and (max-width: 550px)
{
    .width-3 { width:100%;}
    .last-btn { margin-bottom: 20px; top: 0px;}
    .last-btn[input type="button"] { top: 0px !important;}

    .dataTables_filter .form-control.input-sm { width: 75%;}
    .table-responsive.chg-scroll { border: none;}
    .dataTable_wrapper {margin-bottom: 20px;}
}

/*-- change 5 10.08.2016 end --*/

/*-- Add by Ali on 18.08.2016 start --*/

.inline-ech label { float: left;position: relative;padding: 10px 15px 0px 0px;}
.box-leftech, .text-left2 { float: left; position: relative;}
.text-left2 { padding: 10px 15px;}
.inline-ech { overflow: hidden;}

#optionspercentage, #optionsfixed { margin-top: 1px;}

/*-- Add by Ali on 18.08.2016 start --*/
/*--Add by Antara on 19.08.2016 start --*/
.info-error{

    font-size:12px;
    height:40px;
}

.info-error img {
   width: 15px;
   margin-right: 10px;

}
/*--Add by Antara on 19.08.2016 end --*/


/*--Add by Antara on 1.09.2016 start --*/
.tab-line {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height:50px;
    margin-bottom:30px;
    width:auto;
    margin-left:16px;
    margin-right:16px;
}

/* Float the list items side by side */
.tab-line li {float: left;}

/* Style the links inside the list items */
.tab-line li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
.tab-line li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
.tab-line li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.sidebar ul li a {background-color: #004C96;}
/*--Add by Antara on 1.09.2016 end --*/

.error_msg {color:red;}